# Environment variable files
.env
.env.local

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS metadata
.DS_Store
Thumbs.db

# ROS 2 build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# IDE specific files
.idea/