<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
   <xacro:arg name="use_gazebo" default="true"/> <!-- Added missing argument -->
   <xacro:arg name="robot_name" default="ur"/>

    <!-- Import ur urdf file -->
    <xacro:include filename="$(find ur_description)/urdf/ur.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(find moveit_config)/config/ur.ros2_control.xacro" />


    <xacro:ur_ros2_control name="FakeSystem" initial_positions_file="$(find ur_description)/config/initial_positions.yaml"/>
    <xacro:include filename="$(find ur_description)/urdf/gazebo_sim_ros2_control.urdf.xacro" />
   <xacro:load_gazebo_sim_ros2_control_plugin
     robot_name="$(arg robot_name)"
     use_gazebo="$(arg use_gazebo)"/>

</robot>
