services:
  ur3_sim:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: ur3_pick_place:jazzy
    container_name: ur3_sim_test
    network_mode: host
    ipc: host
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-0}
      - GZ_SIM_RESOURCE_PATH=/ws/install/ur_description/share:/ws/install/robotiq_2f_85_gripper_visualization/share:/ws/install
      - IGN_GAZEBO_RESOURCE_PATH=/ws/install/ur_description/share:/ws/install/robotiq_2f_85_gripper_visualization/share:/ws/install
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
